<div class="container">
  <div class="row">
    <div class="four columns">
      <div class="sidebar">
        <img class="sidebar__logo" src="../images/logo.svg" alt="">
        <p class="sidebar__intro">
          Guia esencial con todos los movimientos y transferencias de la <b>LigaMX</b>.
        </p>
        <div class="sidebar__menu">
          <p data-filter-by-type="all" class="sidebar__menu-title filter-by-type">Todo</p>
          <p data-filter-by-type="Oficial" class="sidebar__menu-title filter-by-type "><span class="ec ec-star"></span> Oficiales</p>
          <p data-filter-by-type="Rumor" class="sidebar__menu-title filter-by-type"><span class="ec ec-speaking-head"></span> Rumores</p>
        </div>
        <div class="sidebar__teams">
          <p class="sidebar__teams-title">Ver por equipo</p>
          <p data-filter-by-team="all" class="sidebar__teams-button filter-by-team">Todos</p>
          <section class="sidebar__teams-grid">
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="America" src="../images/america.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Atlas" src="../images/atlas.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Chivas" src="../images/chivas.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="CruzAzul" src="../images/cruz-azul.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Leon" src="../images/leon.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Lobos" src="../images/lobos.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Monarcas" src="../images/monarcas.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Monterrey" src="../images/rayados.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Necaxa" src="../images/necaxa.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Pachuca" src="../images/pachuca.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Puebla" src="../images/puebla.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Pumas" src="../images/pumas.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Queretaro" src="../images/queretaro.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Santos" src="../images/santos.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Tigres" src="../images/tigres.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Toluca" src="../images/toluca.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Veracruz" src="../images/veracruz.png" alt="">
            </article>
            <article class="sidebar__teams-gridItem">
              <img class="filter-by-team" data-filter-by-team="Xolos" src="../images/xolos.png" alt="">
            </article>
          </section>
        </div>
      </div>
    </div>
    <div class="eight columns">
      <div class="transfers">
        <h3 class="transfers__title">
          Movimientos de: <br>
          <u>todos los equipos.</u>
        </h3>
        <section class="transfers__grid">

          <article class="transfers__grid-card card-container card">
            <div class="card__face card__face-front">
              <p><span class="ec ec-star"></span> Oficial</p>
              <div class="transfers__grid-cardTeams">
                <img class="transfers__grid-cardTeamA" src="../images/chivas.png" alt="">
                <img class="transfers__grid-cardTeamicon" src="../images/transfer-icon.svg" alt="">
                <img class="transfers__grid-cardTeamB" src="../images/rayados.png" alt="">
              </div>
              <h5 class="transfers__grid-cardPlayer">Rodolfo Pizarro</h5>
              <p class="transfers__grid-cardPosition">Medio centro ofensivo</p>
            </div>
            <div class="card__face card__face-back">
              <ul>
                <li>
                  <p>Pie</p>
                  <p>Derecho</p>
                </li>
                <li>
                  <p>Edad</p>
                  <p>24 años</p>
                </li>
                <li>
                  <p>Nacionalidad</p>
                  <p>Mexicana</p>
                </li>
                <li>
                  <p>Altura</p>
                  <p>1.80m</p>
                </li>
              </ul>


              <p>Nacionalidad</p>
              <p>Mexicana</p>
              <p>Altura</p>
              <p>1.80m</p>
            </div>
          </article>
          <article class="transfers__grid-card">
            <p><span class="ec ec-star"></span> Oficial</p>
            <div class="transfers__grid-cardTeams">
              <img class="transfers__grid-cardTeamA" src="../images/chivas.png" alt="">
              <img class="transfers__grid-cardTeamicon" src="../images/transfer-icon.svg" alt="">
              <img class="transfers__grid-cardTeamB" src="../images/rayados.png" alt="">
            </div>
            <h5 class="transfers__grid-cardPlayer">Rodolfo Pizarro</h5>
            <p class="transfers__grid-cardPosition">Medio centro ofensivo</p>
          </article>


        </section>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var card = document.querySelector(".card");
card.addEventListener("click", function() {
  card.classList.toggle("is-flipped");
});
</script>
